<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Classroom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="classroomForm">
    <ion-item>
      <ion-label position="floating">Classroom Name</ion-label>
      <ion-input type="text" formControlName="class_name"></ion-input>
    </ion-item>
    <ion-item-divider>
      <ion-label>
        Students <ion-button shape="round" (click)="addBlankStudent()"><ion-icon name="add-circle"></ion-icon></ion-button>
      </ion-label>
    </ion-item-divider>
    <div formArrayName="students">
      <ion-item *ngFor="let student of studentData.controls; let i=index" [formGroupName]="i">
        <ion-label position="floating">Student Name</ion-label>
        <ion-row>
          <ion-col size="10">
            <ion-input type="text" formControlName="student_name" item-start></ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-button shape="round" color="dark" (click)="deleteStudent(classroomForm.get('students').controls,i)"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <ion-button shape="round" color="primary" expand="block" [disabled]="!classroomForm.valid" (click)="saveClassroom()">Submit</ion-button>
  </form>
</ion-content>
