<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Classroom Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{classroom.class_name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>Students:</ion-card-subtitle>
      <ul>
        <li *ngFor="let student of classroom.students">{{student.student_name}}</li>
      </ul>
      <ion-buttons slot="primary">
        <ion-button (click)="edit(classroom.id)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="delete(classroom.id)">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
